@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root {
    /* COLORS */
    --primary-light-cyan: hsl(193, 38%, 86%);
    --primary-neon-green: hsl(150, 100%, 66%);

    --neutral-grayish-blue: hsl(217, 19%, 38%);
    --neutral-dark-grayish-blue: hsl(217, 19%, 24%);
    --neutral-dark-blue: hsl(218, 23%, 16%);

    /* FONTS */
    --fonts-main: 'Manrope', sans-serif;;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

html {

}

body {
    height: 100vh;
    background-color: var(--neutral-dark-blue);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advice-container {
    min-width: 17.5rem;
    max-width: 40%;
    /* max-height: 55%; */
    font-family: var(--fonts-main);
    background-color: var(--neutral-dark-grayish-blue);
    border: none;
    border-radius: .9rem;
    box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.10);
    padding: 3rem 2rem 0 2rem;
    gap: 2rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.advice-container__advice-id {
    color: var(--primary-neon-green);
    letter-spacing: .3rem;
    font-size: .8rem;
}

.advice-container__advice-text {
    text-align: center;
    color: var(--primary-light-cyan);
    font-size: 1.7rem;
    font-weight: 800;
}

.advice-container__separator {
    content: url(../images/pattern-divider-desktop.svg);
}

.advice-container__button {
    height: 4rem;
    width: 4rem;
    background-color: var(--primary-neon-green);
    border: none;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: 1.8rem;

    transition: all .1s ease-in-out;
}
.advice-container__button:hover {
    box-shadow: 0 0 5px var(--primary-neon-green), 0 0 5px var(--primary-neon-green), 0 0 10px var(--primary-neon-green), 0 0 15px var(--primary-neon-green), 0 0 20px var(--primary-neon-green), 0 0 25px var(--primary-neon-green), 0 0 30px var(--primary-neon-green);
}
.advice-container__button:active {
    box-shadow: 0 0 10px #fff, 0 0 10px #fff, 0 0 20px var(--primary-neon-green), 0 0 30px var(--primary-neon-green), 0 0 40px var(--primary-neon-green), 0 0 50px var(--primary-neon-green), 0 0 60px var(--primary-neon-green);
}

@media (max-width: 950px) {
    .advice-container {
        max-height: 60%;
        max-width: 40%;
        border-radius: .8rem;
        padding: 4rem 2rem 0 2rem;
        gap: 2rem;
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .advice-container__separator {
        content: url(../images/pattern-divider-mobile.svg);
    }
}